###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.tests.local
/vendor/
/var/
/public/bundles/
/public/uploads/
###< symfony/framework-bundle ###

/.idea/
/.vscode/
.DS_Store
/node_modules/